body {
	background-color:rgb(230,230,230);
	color:rgb(30,30,30)
	font-family:Courier;
}
h1{
	color:#ff019;
	font-family:Helevtica;
	font-weight: 800;
	letter-spacing: 10px
	font-size32px;
	text-transform: uppercase; 
}
h2{
	color:rgb(0,0,0);
	color:rgb(255,255,255);
	color:rgb(30,30,30);
	color:rbg(230,230,230);
}